<style>
html, body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  
  background: #111;
  color: #fff;
  display: block;
}

img, canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
</style>

<canvas width="640" height="360"></canvas>

<script>
const canvas = document.querySelector('canvas')
const ctx = canvas.getContext('2d')
ctx.imageSmoothingEnabled = false

let _keyset = new Set(), _collcheck = new Set()

window.addEventListener('keydown', ev => {
  _keyset.add(ev.key.toLowerCase())
})
window.addEventListener('keyup', ev => {
  _keyset.delete(ev.key.toLowerCase())
})

function _onresize() {
  let width = window.innerWidth
  let height = width / 16 * 9
  if (height > window.innerHeight) {
    height = window.innerHeight
    width = height / 9 * 16
  }
  canvas.style.width = `${width}px`
  canvas.style.height = `${height}px`
}
window.addEventListener('resize', _onresize)
_onresize()

let _lastnow = performance.now()
const _ispromise = (x) => (typeof x === 'object' && typeof x.then === 'function')
async function _animateloop() {
  ctx.clearRect(0, 0, canvas.width, canvas.height)
  let delta = performance.now() - _lastnow
  const x = animate(delta / 1000)
  _ispromise(x) && (await x)
  _lastnow = performance.now()
  for (const e of _collcheck) {
    e._ox = e.x
    e._oy = e.y
  }
  requestAnimationFrame(_animateloop)
}

window.addEventListener('load', async () => {
  const x = setup()
  _lastnow = performance.now()
  _ispromise(x) && (await x)
  _animateloop()
})

function loadImage(url) {
  const img = document.createElement('img')
  img.hidden = true
  img.src = url
  document.body.appendChild(img)
  return img
}

function drawEntity(e) {
  ctx.save()
  ctx.translate(canvas.width / 2, canvas.height / 2)
  ctx.translate(e.x, e.y)
  ctx.rotate((e.rotation ?? 0) * Math.PI / 180)
  ctx.scale(e.scale ?? 1, e.scale ?? 1)
  ctx.drawImage(e.texture, -e.texture.width / 2, -e.texture.height / 2)
  ctx.restore()
}
function drawEntities(es) {
  es.forEach(drawEntity)
}

function collision(a, b) {
  let minAx = a.x - a.texture.width * (a.scale || 1) / 2,
    minAy = a.y - a.texture.height * (a.scale || 1) / 2,
    maxAx = a.x + a.texture.width * (a.scale || 1) / 2,
    maxAy = a.y + a.texture.height * (a.scale || 1) / 2

  let minBx = b.x - b.texture.width * (b.scale || 1) / 2,
    minBy = b.y - b.texture.height * (b.scale || 1) / 2,
    maxBx = b.x + b.texture.width * (b.scale || 1) / 2,
    maxBy = b.y + b.texture.height * (b.scale || 1) / 2

  const aLeftOfB = maxAx < minBx
  const aRightOfB = minAx > maxBx
  const aAboveB = minAy > maxBy
  const aBelowB = maxAy < minBy

  return !(aLeftOfB || aRightOfB || aAboveB || aBelowB)
}

function preventCollision(a, b) {
  if (collision(a, b)) {
    a.x = a._ox || 0
    a.y = a._oy || 0

    b.x = b._ox || 0
    b.y = b._oy || 0
  }

  _collcheck.add(a)
  _collcheck.add(b)
}

function preventOutOfBounds(e) {
  if (e.x - e.texture.width * (e.scale || 1) / 2 < -canvas.width / 2) {
    e.x = -canvas.width / 2 + e.texture.width * (e.scale || 1) / 2
    _collcheck.add(e)
    return 'left'
  } else if (e.x + e.texture.width * (e.scale || 1) / 2 > canvas.width / 2) {
    e.x = canvas.width / 2 - e.texture.width * (e.scale || 1) / 2
    _collcheck.add(e)
    return 'right'
  }

  if (e.y - e.texture.height * (e.scale || 1) / 2 < -canvas.height / 2) {
    e.y = -canvas.height / 2 + e.texture.height * (e.scale || 1) / 2
    _collcheck.add(e)
    return 'top'
  } else if (e.y + e.texture.height * (e.scale || 1) / 2 > canvas.height / 2) {
    e.y = canvas.height / 2 - e.texture.height * (e.scale || 1) / 2
    _collcheck.add(e)
    return 'bottom'
  }

  _collcheck.add(e)
}

function direction(a, b) {
  return {
    x: b.x - a.x,
    y: b.y - a.y
   }
}

function distance(a, b) {
  return length(direction(a, b))
}

function length(v) {
  return Math.sqrt(v.x * v.x + v.y * v.y)
}

function normalized(v) {
  const len = length(v)
  if (len == 0)
    return { x: v.x, y: v.y }
  return {
    x: v.x / len,
    y: v.y / len
  }
}

function lerp(a, b, k) {
  return a * (1 - k) + b * k
}

function key(k) { return _keyset.has(k.toLowerCase()) }

const _scr = document.createElement('script')
_scr.src = 'app.js?v=' + Math.floor(Math.random() * 1000000000)
document.body.appendChild(_scr)
</script>

