html, body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background: #111;
  color: #fff;
  display: block;
  aspect-ratio: 16/9;
}

img, canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
